@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;1,600&family=Tiny5&display=swap");

@media (prefers-color-scheme: light) {
    :root {
        --fundo: #ffffff;
        --texto: #505050;
        --painel-controle: #f9f9f9;
        --bordas-painel: #d2d2d2;
        --vermelho: #ff5959;
        --verde: #00ae13;
        --verde-terminal: #59ff6b;
        --terminal-neutro: #f5f5f5;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --fundo: #161616;
        --texto: #f2f4f8;
        --painel-controle: #0c0c0c;
        --bordas-painel: #202020;
        --vermelho: #ff5959;
        --verde: #00ae13;
        --verde-terminal: #59ff6b;
        --terminal-neutro: #f5f5f5;
    }
}

* {
    font-family:
        "IBM Plex Mono",
        "Courier New",
        Courier,
        monospace,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: cubic-bezier(0, 1, 1, 1) 250ms;
    color: var(--texto);
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--fundo);
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 2.5rem;
    flex-shrink: 0;

    &:first-child {
        width: 35%;
        justify-content: center;
        background-color: var(--painel-controle);
        border-right: 1px solid var(--bordas-painel);
        border-radius: 0 2rem 2rem 0;
        gap: 2.5rem;

        h1 {
            font-weight: 600;
            font-style: italic;
        }

        h2 {
            font-weight: 400;
            font-style: italic;
            font-size: 0.8rem;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .container-registro-sentenca {
                display: flex;
                height: auto;
                flex-direction: row;
                gap: 1rem;

                input {
                    width: 80%;
                }
            }

            input {
                display: flex;
                border: 1px solid var(--bordas-painel);
                background-color: var(--fundo);
                padding: 1rem;
                width: 100%;
                height: 5rem;
                justify-content: center;
                border-radius: 1.25rem;
                font-size: 1rem;
            }

            button {
                display: flex;
                height: 5rem;
                width: 20%;
                aspect-ratio: 1/1;
                border-radius: 1.25rem;
                border: var(--bordas-painel);
                background-color: var(--bordas-painel);
                font-size: 2rem;
                padding: 1rem;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    filter: brightness(1.125);
                }

                &:active {
                    transform: scale(0.975);
                    filter: brightness(0.975);
                    filter: blur(0.1rem);
                }
            }

            label {
                font-size: 1.5rem;
            }

            #status {
                height: 4rem;
                display: flex;
                justify-content: center;
                font-size: 2rem;
                background-color: black;
                border-radius: 0.625rem;
                border: 2px solid #808080;
                padding: 1rem;
                justify-content: center;
                align-items: center;
                font-family:
                    "Tiny5",
                    "Courier New",
                    Courier,
                    monospace,
                    system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    "Open Sans",
                    "Helvetica Neue",
                    sans-serif;
            }
        }
    }

    &:last-child {
        width: 65%;
        overflow-y: auto;
        gap: 1.25rem;
    }
}

hr {
    border: 1px solid var(--bordas-painel);
}

td,
th {
    padding: 0.4rem;
    text-align: center;
    font-size: 1rem;
    font-family:
        "Tiny5",
        "Courier New",
        Courier,
        monospace,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    color: var(--texto);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
